body {
  background-image: url("./src/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  max-width: 100%;
  max-height: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer > p {
  color: whitesmoke;
  font-size: 20px;
  display: block;
  text-align: center;
  bottom: 0;
}

.header p:first-child {
  color: whitesmoke;
  font-size: 50px;
  display: block;
  text-align: center;
}

.header > h1 {
  font-size: 100px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0;
  color: whitesmoke;
}

.main {
  margin: 0 20px 0 20px;
  height: calc(100% - 60px - 150px);
}

.buttons {
  align-content: center;
  margin: auto auto;
  height: fit-content;
  padding: 100px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  position: relative;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: black;
  color: whitesmoke;
  font-size: 20px;
  width: 200px;
  height: 40px;
  margin: 20px;
  cursor: pointer;
  transition-duration: 0.5s;
  z-index: 0;
}

button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #002bff,
    #00ffd5,
    #00ffd5,
    #002bff
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 15s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

button:active {
  color: #000;
}

button:active:after {
  background: transparent;
}

button:hover:before {
  opacity: 1;
}

button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.playBtn {
  display: none;
}

.game-background,
.player-info,
.current-score,
.highscores,
#playfield-canvas {
  display: none;
};



@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}