.header.gamepage {
    /* background-color: white; */
    line-height: 120px;
}

.header.gamepage > h1 {
    font-size: 100px;
    text-align: center;
    margin: 0;
}
canvas.playfield-canvas {
    position: absolute;
    left: 0;
    /* top: 0px; */
    z-index: 10;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    margin-bottom: 40px;
}

.main.grid {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 100px 800px;
    margin: 0 20px 0 20px;
    grid-gap: 10px;
}
.buttons.grid {
    position: relative;
    grid-column: 1/3;
    text-align: center;
    align-items: center;
    height: 90px; 
}

.gamefield.grid {
  display: grid;
  grid-template-rows: 50px auto;
  position: relative;
  /* width: 1000px; */
  margin: 0 auto;
  /* width: var(--width);
  height: var(--height); */
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
}

.display {
  grid-row: 1/2;
  display: flex;
  justify-content: space-between;
  width: var(--width);
}

.current-score,
.player-info {
  width: 200px;
}

.highscore >h2 {
    text-align: center;
}

.playfield {
  grid-row: 2/3;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer > p {
  color: whitesmoke;
  font-size: 20px;
  display: block;
  text-align: center;
  bottom: 0;
}
