:root {
  --width: 1000px;
  --height: 650px;
}

header {
    /* background-color: white; */
    line-height: 120px;
}

header > h1 {
    font-size: 100px;
    text-align: center;
    margin: 0;
}
canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    margin-bottom: 40px;
}

.main-grid {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 100px 800px;
    margin: 0 20px 0 20px;
    grid-gap: 10px;
}
.grid-header {
    position: relative;
    grid-column: 1/3;
    text-align: center;
    align-items: center;
    height: 90px; 
}
.highscore >h2 {
    text-align: center;
}
#main {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  width: var(--width);
  height: var(--height);
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
}

#display {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: var(--width);
}

#score,
#info {
  width: 200px;
}
