body {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.header.gamepage > p {
  display: none;
}

.header.gamepage > h1 {
  color: rgb(111, 253, 230);
  font-size: 40px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
  font-family: 'Bangers', cursive;
}

.main.grid {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 120px auto;
  margin: 0 10px 0 10px;
  grid-gap: 10px;
}

.buttons.grid {
  position: relative;
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: center;
  align-items: center;
  height: 50px;
}

button {
  position: relative;
  border-radius: 10px;
  border: rgb(111, 253, 230) 0.3px dotted;
  outline: none;
  background-color: black;
  color: whitesmoke;
  font-size: 20px;
  width: 200px;
  height: 40px;
  margin: 5px;
  cursor: pointer;
  transition-duration: 0.5s;
  z-index: 0;
}

button:before {
  content: "";
  background: linear-gradient(45deg, #002bff, #00ffd5, #00ffd5, #002bff);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 15s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

button:active {
  color: #000;
}

button:active:after {
  background: transparent;
}

button:hover:before {
  opacity: 1;
}

button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.display {
  grid-row: 1/3;
  width: var(--width);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 15px;
  color: whitesmoke;
  padding: 10px 20px;
}

.player-info {
  margin-bottom: 20px;
  color: whitesmoke;
  float: right;
  margin-right: 10px;
}

.current-score {
  color: whitesmoke;
  float: left;
}

.gamefield.grid {
  grid-column: 1/2;
  grid-row: 1/3;
  position: relative;
  margin: 0 auto;
}

.playfield {
  grid-column: 1/2;
  grid-row: 1/3;;
}

#playfield-canvas {
  left: 0;
  z-index: 10;
  border: 1px solid grey;
  grid-column: 1/2;
  grid-row: 1/3;
}

.game-background {
  grid-column: 1/2;
  grid-row: 1/3;
  position: relative;
}

.highscore {
  padding: 0 20px;
}

.highscore > h2 {
  text-align: center;
  background-color: whitesmoke;
  font-size: 25px;
}

.player-name, .timer, .level {
  color: whitesmoke;
  font-size: 20px;
  display: block;
  bottom: 0;
}

.highscore-list {
  color: whitesmoke;
  font-size: 15px;
  display: block;
  list-style: none;
  text-align: center;
}

pre {
  color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align:left;
}

.footer {
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer > p {
  color: whitesmoke;
  font-size: 20px;
  display: block;
  text-align: center;
  bottom: 0;
}


@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}